/* GLOBAL */
html, body{

    height: 100%;
    width: 100%;
    z-index: 1;

}

section{

    height: 100%;
    width: 100%;
    z-index: 1;

}

.page{

    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;

}

#_app_container{

    position: fixed;
    z-index: 10;

}

#_app_content{

    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #FAFAFA;
    overflow: hidden;
    z-index: 1;

}

.hidden{

    display: none !important;

}

/*
    S C R O L L S
*/

.--unscrollable{

    overflow: hidden;

}

.--scrollable{

    overflow: auto;

}


.--scrollable-x{

    overflow-x: auto;

}

.--scrollable-y{

    overflow-y: auto;

}


.--unscrollable-x{

    overflow-x: hidden;

}

.--unscrollable-y{

    overflow-y: hidden;

}