<!DOCTYPE html>
<html lang="*|LANG|*" typeof="schema:WebPage">
<head>
    <meta charset="UTF-8">
    <title>*|TITLE|*</title>

    <meta property="og:locale" content="*|LANG|*"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="*|TITLE|*"/>
    <meta property="og:description" content="*|DESCRIPTION|*"/>

    <meta property="og:image" content="*|IMAGE|*"/>
    <meta property="og:url" content="*|CURRENT_URL|*"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="*|TITLE|*">
    <meta name="twitter:description" content="*|DESCRIPTION|*">
    <meta name="twitter:image" content="*|IMAGE|*">

    <meta http-equiv="refresh" content="0;URL=*|URL|*">
</head>
<body>

<img src="*|IMAGE_DATA|*" width="150">
<h1>*|TITLE|*</h1>
<p>*|DESCRIPTION|*</p>

</body>
</html>